:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

main{

  padding: 5px;
  border: 3px solid #555;
  box-shadow: 0 0 120px 10px #0000009d;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  width: 400px;
  height: 500px;
  color: #333;
  background-color: #ddd;
  border-radius: 5px;
}

button{
  font-weight: bold;
  border-radius: 4px;
  width: 120px;
  height: 35px;
  padding: 3px;
  border: none;
  background-color: #333;
}

label{
  font-size: 20px;
  font-weight:bold;
}

input{
  color: white;
  padding: 5px;
  font-weight: bold;
  font-family: arial;
  border: none;
  border-radius: 5px;

  &:focus{
    background-color: #213547;
    outline: none;
  }
}

form{
  
  padding: 10px;
  border-radius: 10px;
  background-color: #214735;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  height:max-content;

  .form-label{
    display: flex;
    gap: 2px;
    width: 100%;
   justify-content: space-between;
   align-items: center; 
  }
}

.users-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #222;
  width: 200px;
  font-size: 14px;

  header{
    padding: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  span{
    color: #ddd;
    flex: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  main{
    padding: 5px;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content:start;
    border: none;
    background-color: #214734;
    width: 100%;
    height: 300px;
    
    section{
      border-radius: 5px;
      border-bottom: 2px solid #222;
      width: 100%;
      display: flex;
      padding: 2px;
    }
  }
}

.user{
transition: .2s;

&:hover{
  background-color: #572828;
  scale: 1.1;
}
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  pointer-events:none;

  .modal-container{
    width: 400px;
    height: 500px;
    background-color: #3333338c;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    #cerrar-modal{
      background-color: #214734;
      transition: .2s;
      &:hover{
        background-color: #472121;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #eee;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
